@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

.pokedex {
  text-align: center;
  padding: 20px;
  user-select: none;
  margin-top: 50px;
}

.pokedex-header {
  text-align: center;
  color: plum;
  margin-top: 35px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  font-size: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.pokemon-container p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: medium;
  background-color: white;
}

.pokemon-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.pokemon-card {
  
  border-radius: 10px;
  color: gray; 
  width: calc(10% - 10px);
  margin: 20px;
  border: #DDA0DD solid;
  box-shadow: 10px 10px;
}

.pokemon-name {
  text-transform: capitalize;
  font-size: 30px;
  color: black;
  font-size: medium;
  font-weight: bolder;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pokemon-img-container {
  background-color: #FFF5EE;
  padding: 0px;
  border-radius: 20px;
  
}

.pokemon-img {
  width: 100%;
  height: auto;
}


@media screen and (max-width: 992px) {
  .pokemon-card {
    width: calc(33.33% - 20px);
  }
}

@media screen and (max-width: 768px) {
  .pokemon-card {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 576px) {
  .pokemon-card {
    width: calc(100% - 20px);
  }
}