
@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

/* Body styles */
body {
  background-color: #f8f8f8; 
  font-family: 'Georgia', 'Times New Roman', Times, serif; 
}


.about-header {
  margin-top: 40px;
  font-family: 'Pokemon Solid', sans-serif; 
  color: white; 
  font-size: 72px; 
  font-weight: bold; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

/* Main content styles */
.main {
  padding-top: 50px; 
  padding-bottom: 50px;
  text-align: center;
  color: #444; 
}

/* About text styles */
.about-text {
  margin: 0 auto; 
  max-width: 800px; 
  font-size: 22px; 
  line-height: 1.6; 
  color: #666; 
}

/* Story text styles */
.story-text {
  max-width: 800px; 
  margin: 20px auto; 
  font-size: 18px; 
  line-height: 1.5; 
  text-align: justify; 
  color: #555; 
}
